.article {
    height: 100%;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;

    &-tree {
        box-sizing: border-box;
        padding: 16px 16px;
        width: 300px;
        background-color: #fff;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
    }

    &-main {
        margin-left: 16px;
        flex: 1;
        display: flex;

        &__editor {
            flex: 1;
            margin-right: 8px;
            background-color: #fff;
            padding: 16px;
            border-radius: 8px;
            box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
        }

        &__preview {
            flex: 1;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
            overflow-y: scroll;
        }
    }
}